name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    outputs:
      NBGV_SemVer2: ${{ steps.gitversion.outputs.NBGV_SemVer2 }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # full history for GitVersioning

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 16.x
                    
      - run: |
          npm ci
          npx nbgv cloud --all-vars

      - name: gitversion
        id: gitversion
        run: |
          echo "set-output name=NBGV_SemVer2::$NBGV_SemVer2"
          echo "::set-output name=NBGV_SemVer2::$NBGV_SemVer2"

      - uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: |
          npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
  
      - uses: ./
        id: get-app-configuration
        with:
          resourceGroup: ${{ secrets.RESOURCE_GROUP }}
          appConfigurationName: ${{ secrets.APP_CONFIGURATION }}
          keyFilter: 'key1'

      - run: |
          echo ${{ steps.get-app-configuration.outputs.key1 }}
          exit 1
        if: ${{ steps.get-app-configuration.outputs.key1 != 'key1 value' }}
        name: Check result

  update_release_draft:
    name: Update release draft
    runs-on: ubuntu-latest
    needs: [build]
    env:
      NBGV_SemVer2: ${{ needs.build.outputs.NBGV_SemVer2 }}

    if: github.ref == 'refs/heads/main' # Running this job only for master branch
    steps:
      - uses: actions/checkout@v3

      - uses: release-drafter/release-drafter@v5
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: ${{ needs.build.outputs.NBGV_SemVer2 }}
